.DS_Store
npm-debug.log*
yarn-debug.log*
yarn-error.log*

_designs
_examples
_old
_temp
_tools
_work

default
dist
node_modules
upload

# Nuxt build
.nuxt

# Editor directories and files
.idea
*.suo
*.ntvs*
*.njsproj
*.sln